<%
def youtube_embed(youtube_url)
  if youtube_url[/youtu\.be\/([^\?]*)/]
    youtube_id = $1
  else
    # Regex from # http://stackoverflow.com/questions/3452546/javascript-regex-how-to-get-youtube-video-id-from-url/4811367#4811367
    youtube_url[/^.*((v\/)|(embed\/)|(watch\?))\??v?=?([^\&\?]*).*/]
    youtube_id = $5
  end

  %Q{<iframe title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/#{ youtube_id }" frameborder="0" allowfullscreen></iframe>}
end
%>
<style>
   p {
     font-size: 20px;
   }

   .wrap {
     overflow: hidden;
     margin: 10px;
     width:100%;
  }
  .box {
     float: left;
     position: relative;
     width: 20%;
     padding-bottom: 20%;
  }
  .boxInner {
     position: absolute;
     left: 10px;
     right: 10px;
     top: 10px;
     bottom: 10px;
     overflow: hidden;
  }
  .boxInner img {
     width: 100%;
  }
  .boxInner .titleBox {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     margin-bottom: -50px;
     background: #000;
     background: rgba(0, 0, 0, 0.5);
     color: #FFF;
     padding: 10px;
     text-align: center;
     -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
  }
  body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
     margin-bottom: 0;
  }
  @media only screen and (max-width : 480px) {
     /* Smartphone view: 1 tile */
     .box {
        width: 100%;
        padding-bottom: 100%;
     }
  }
  @media only screen and (max-width : 650px) and (min-width : 481px) {
     /* Tablet view: 2 tiles */
     .box {
        width: 50%;
        padding-bottom: 50%;
     }
  }
  @media only screen and (max-width : 1050px) and (min-width : 651px) {
     /* Small desktop / ipad view: 3 tiles */
     .box {
        width: 33.3%;
        padding-bottom: 33.3%;
     }
  }
  @media only screen and (max-width : 1290px) and (min-width : 1051px) {
     /* Medium desktop: 4 tiles */
     .box {
        width: 33.3%;
        padding-bottom: 25%;
     }
  }

  .selectableImageContainer {
  border: 1px solid #CCC;
  padding: 5px;
  margin: 7px;
  float: left;
  width: 212px;
  text-align: center;
}

.zoom_toolbar_button {
  height: 32px;
  width: 32px;
  float: right;
  border-radius: 4px;
  margin-left: 2px;
  margin-top: 8px;
  cursor: pointer;
  border: 1px solid #000000;
  padding: 6px 0 0 3px;
}

.approved_image_toolbar_button {
  background-color: #8bc249;
  height: 32px;
  width: 32px;
  float: right;
  border-radius: 4px;
  margin-left: 2px;
  margin-top: 8px;
  cursor: pointer;
  padding: 6px 0 0 3px;
}

.disapproved_image_toolbar_button {
  background-color: #bb232a;
  height: 32px;
  width: 32px;
  float: right;
  border-radius: 4px;
  margin-left: 2px;
  margin-top: 8px;
  cursor: pointer;
  padding: 6px 0 0 1px;
}

.reviewIssuesButton {
  margin-left: 20px;
  color: #ffffff;
  background-color: #00aeef;
}

.markAllReviewed {
  background-color: #00aeef;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #ffffff;
}

.white {
  color: #ffffff;
}
  </style>
<div class="container">
  <div class="container" style="margin-top: 20px;">
    <h1 class="mt-4 text-center">Players</h1>
  </div>
    <div class="container col-md-offset-1 col-lg-offset-1">
     <%
     if @player_id.to_s.empty?
     %>
        <!-- Define all of the tiles: -->
        <%
        @array_position.each do |key, value|
          if value.length > 0
        %>
          <h3><%=key%></h3>
          <%value.in_groups_of(4, false).each do |group| %>
            <div class='wrap'>
              <% group.each_with_index do |item, index| %>
                <div class="box">
                  <div class="boxInner">
                    <a href=players?player_id=<%=item.id %>><%= image_tag(item.img, class: "text-center") %></a>
                    <div class="text-center"><b><%=item.name %></b></div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <br>
       <% end %>
      <% end %>
  <%else%><br>
      <div class="container" >
       <div class="row ">
        <div class="col-md-4 "><img style="max-width: 250px;" src="<%=@player.img%>" /></div>
        <div class="col-md-8" >
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h2><%=@player.name%></h2>
            </div>
          </div>
          <div class="row" style="font-size: 16px;">
                <div class="col-sm-4 col-md-4">
                    <b>D.O.B:</b> <%=@player.dob%><br><b>Nationality:</b> <%=@player.nation%><br><b>Weight:</b><%=@player.weight%><br>
                </div>
                <div class="col-sm-4 col-md-4">
                  <b>Height:</b><%=@player.height%><br><b>Present Club:</b> <%=@player.team.name%>
                </div>
              </div><br>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@player.video%>" frameborder="0" allowfullscreen></iframe>
                  </div>
                  </div>
              <br><Br><br><Br>
                </div>
              </div>
              </div>
              </div>
              </div>
        <%end%>
